@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800;900&family=Red+Hat+Text:wght@500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply dark:bg-slate-50;
    }
}

@layer utilities {
    .trapdoor {
        box-shadow: inset -7px 0px 12px -8px rgba(0, 0, 0, 0.3),
            inset 7px 0px 12px -8px rgba(0, 0, 0, 0.3);
        transition: bg 400ms ease-in-out;
        top: 50%;

        height: 220px;
        position: relative;
        border-color: #e5e7eb;
        border-bottom-width: 0.01em;
    }

    .topslide {
        top: 0%;
        left: 0px;
    }

    .bottomslide {
        top: 50%;
        left: 0px;
        bottom: 10%;
    }

    .door {
        transition: top 400ms, box-shadow 200ms, transform 300ms;
        transition-timing-function: ease-in-out;
        background-color: #f8fafc;
        overflow: hidden;
        z-index: 2;
        width: 100%;
    }
}

.screen {
    @apply min-h-screen flex max-w-[1500px] mx-auto;
}

.feedContainer {
    @apply flex-grow border-l border-r border-x-gray-200 max-w-2xl sm:ml-[73px] xl:ml-[370px];
}

.postContainer {
    @apply pl-3 pb-3 flex border-b border-gray-200;
}

.submitButton {
    @apply bg-[#1d9bf0] text-slate-50 rounded-full px-14 py-2 font-bold shadow-md hover:bg-[#1a8cd8] disabled:hover:bg-[#1d9bf0] disabled:opacity-50 disabled:cursor-default;
}

.withdrawButton {
    @apply ml-auto bg-white text-white rounded font-bold text-sm py-1.5 px-3.5;
}

.grayedOutWithdraw {
    @apply ml-auto bg-[#AAAFB4] rounded font-bold text-sm py-1.5 px-3.5;
}

.fundsContainer {
    @apply px-4 py-2 flex items-center;
}

.coinContainer {
    @apply flex h-4 w-4 justify-center items-center border-[#ffa500] bg-[#ffa500] rounded-full;
}

.innerCoinContainer {
    @apply h-3 w-3 rounded-full bg-[#e09100] shadow-inner flex justify-center items-center;
}

.coinCenter {
    @apply h-[6px] w-0.5 bg-[#e09100] shadow-[inset_33px_33px_0px_#ba7800];
}

.pfpContainer {
    @apply flex items-center justify-center  rotate-45 overflow-hidden shadow-md;
}

.addressBar {
    @apply font-bold text-[10px] bg-[#1b1717bf] border-t-[3px] backdrop-blur-[20px] pl-6 pr-[15px] text-white;
}

.doorShadow {
    @apply shadow-[0_35px_60px_-15px_rgba(0,0,0,0.4)];
}

.sidebar {
    @apply hidden sm:flex flex-col items-center xl:items-start xl:w-[340px] p-2 fixed h-full mt-10;
}

.locationBar {
    @apply text-black flex items-center sm:justify-between py-2 px-3 top-0 z-50 border-gray-200 sticky;
}

.location {
    @apply text-lg sm:text-xl font-bold;
}

.sparkle {
    @apply w-9 h-9 flex items-center justify-center xl:px-0 ml-auto sticky;
}
