@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800;900&family=Red+Hat+Text:wght@500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-[#0d1117];
    }
}

@layer utilities {
    .trapdoor {
        box-shadow: inset 7px 7px 14px #050709, inset -7px -7px 14px #151b25;
        transition: bg 400ms ease-in-out;
        top: 50%;
        height: 220px;
        position: relative;
        border-color: #30363d;
        border-bottom-width: 0.01em;
        background-color: #0d1117;
    }

    .topslide {
        top: 0%;
        left: 0px;
    }

    .bottomslide {
        top: 50%;
        left: 0px;
        bottom: 10%;
    }

    .door {
        transition: top 400ms, box-shadow 200ms, transform 300ms;
        transition-timing-function: ease-in-out;
        background-color: #0d1117;
        overflow: hidden;
        z-index: 2;
        width: 100%;
    }
}

@layer utilities {
    .commentShadow {
        background: rgba(22, 27, 34, 0.9);
        -webkit-backdrop-filter: blur(11px);
        backdrop-filter: blur(11px);
        border: 1px solid rgba(22, 27, 34, 0.45);
    }

    .balanceContainer {
        background: rgba(12, 12, 23, 0.5);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        border: 1px solid rgba(12, 12, 23, 0.25);
    }

    .speech-bubble {
        position: relative;
        background: #374151;
        border-radius: 0.4em;
    }

    .speech-bubble:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: 0;
        border: 7px solid transparent;
        border-top-color: #374151;
        border-bottom: 0;
        border-left: 0;
        margin-left: -7px;
        margin-bottom: -20px;
    }
    .lock {
        width: 21px;
        height: 16px;
        border: 1px solid #374151;
        border-radius: 5px;
        background: #374151;
        position: relative;
        cursor: pointer;
        -webkit-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;
        box-shadow: 5px 5px 4px #050709;
    }

    .lock:after {
        content: "";
        display: block;
        background: #374151;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -3.5px 0 0 -2px;
        -webkit-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;
    }
    .lock:before {
        content: "";
        display: block;
        width: 13px;
        height: 9px;
        bottom: 100%;
        position: absolute;
        left: 50%;
        margin-left: -7px;
        border: 3px solid #374151;
        border-top-right-radius: 50%;
        border-top-left-radius: 50%;
        border-bottom: 0;
        -webkit-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;
    }

    .lock:hover:before {
        height: 12px;
    }

    .unlocked {
        width: 21px;
        height: 16px;
        border: 1px solid #374151;
        border-radius: 5px;
        background: #374151;
        position: relative;
        cursor: pointer;
        -webkit-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;
        transform: rotate(10deg);
        box-shadow: 5px 5px 4px #050709;
    }

    .unlocked:after {
        content: "";
        display: block;
        background: #374151;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;
    }
    .unlocked:before {
        content: "";
        display: block;
        width: 13px;
        height: 10px;
        position: absolute;
        border: 3px solid #374151;
        border-top-right-radius: 50%;
        border-top-left-radius: 50%;
        border-bottom: 0;
        -webkit-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;
        bottom: 115%;
        left: 50%;
        margin-left: -8.5px;
        transform: rotate(-45deg);
    }
    .unlocked:hover {
        transform: rotate(3deg);
    }

    .unlocked:hover:before {
        height: 10px;
        left: 47%;
        bottom: 110%;
        transform: rotate(-30deg);
    }

    .widget {
        box-shadow: 20px 20px 60px #1a1a1a, -20px -20px 60px #232323;
    }

    ::-webkit-calendar-picker-indicator {
        filter: invert(1);
    }
}

.screen {
    @apply min-h-screen flex max-w-[1500px] mx-auto;
}

.feedContainer {
    @apply flex-grow border-l border-r border-[#30363D] max-w-2xl sm:ml-[73px] xl:ml-[370px];
}

.postContainer {
    @apply pl-3 pb-3 flex border-b border-[#30363D];
}

.submitButton {
    @apply mt-[10px] text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-9 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800;
}

.withdrawButton {
    @apply ml-auto text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm py-1.5 px-3.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800;
}

.grayedOutWithdraw {
    @apply ml-auto bg-[#9ca3af] text-[#7d848a] rounded font-bold text-sm py-1.5 px-3.5 cursor-not-allowed;
}

.widgetContainer {
    @apply text-[#d9d9d9] space-y-3 bg-[#161b22] pt-2 rounded-xl w-11/12 xl:w-9/12 shadow-[5px_5px_11px_#131313];
}

.fundsContainer {
    @apply px-4 py-2 flex items-center;
}

.coinContainer {
    @apply flex h-4 w-4 justify-center items-center border-[#ffa500] bg-[#ffa500] rounded-full;
}

.innerCoinContainer {
    @apply h-3 w-3 rounded-full bg-[#e09100] shadow-inner flex justify-center items-center;
}

.coinCenter {
    @apply h-[6px] w-0.5 bg-[#e09100] shadow-[inset_33px_33px_0px_#ba7800];
}

.pfpContainer {
    @apply flex items-center justify-center rotate-45 overflow-hidden shadow-lg rounded;
}

.addressBar {
    @apply font-bold text-[10px] bg-[#1b1717bf] border-t-[3px] pl-6 pr-[15px] text-white shadow-[5px_5px_19px_#131313];
}

.doorShadow {
    @apply shadow-[0_35px_60px_-15px_rgba(0,0,0,0.4)];
}

.sidebar {
    @apply hidden sm:flex flex-col items-center xl:items-start xl:w-[340px] p-2 fixed h-full mt-10;
}

.locationBar {
    @apply text-black flex items-center sm:justify-between py-2 px-3 top-0 z-50 border-gray-200 sticky;
}

.location {
    @apply text-lg sm:text-xl font-bold;
}

.sparkle {
    @apply w-9 h-9 flex items-center justify-center xl:px-0 ml-auto sticky;
}

.widgetInput {
    @apply border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 bg-[#0d1117] dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}

.datePicker {
    @apply border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 bg-[#0d1117] dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}

.widgetButton {
    @apply mt-2 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800;
}

.calendar {
    @apply flex flex-col justify-center items-center rounded-md h-10 w-11 shadow-[4px_4px_8px_#0b0e13] text-white bg-[#21262d] mr-2 mt-2;
}

.calendarDate {
    @apply flex h-3 w-full pt-2 pb-1 justify-center items-center  text-rose-500 text-[10px] font-bold;
}

.marketButton {
    @apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-5 h-10 sm:w-auto px-9 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 left-0;
}

.widgetSidebar {
    @apply hidden lg:inline ml-[68rem] mt-[3rem] xl:w-[430px] py-1 space-y-5 fixed;
}

.coinAnimation {
    @apply cursor-pointer  hover:animate-spinning shadow-[5px_5px_11px_#131313];
}

.sidebarPosition {
    @apply text-black flex items-center justify-center xl:justify-start text-xl space-x-3;
}

.sidebarSpacing {
    @apply space-y-2.5 mt-4 mb-2.5 xl:ml-24;
}

.replyContainer {
    @apply border-b border-[#373737] overflow-hidden;
}

.nftContainer {
    @apply flex w-full h-auto max-w-2xl justify-center items-center gap-5;
}

.postText {
    @apply text-white text-[15px] sm:text-base pt-1;
}

.postFooter {
    @apply flex flex-row pt-6;
}

.postId {
    @apply text-sm sm:text-[12px] text-[#9aa1ad] pl-2;
}

.postHeader {
    @apply flex w-full pl-4 pt-5;
}

.postInfo {
    @apply h-4 items-center justify-center mt-8 -ml-4;
}

.postTop {
    @apply flex w-[100%] h-[50%] absolute;
}

.postBottom {
    @apply w-[100%] h-[50%] absolute pl-4;
}

.mintButton {
    @apply ml-2 mt-[2px] rounded-[4px] ring-2 ring-[#30363D] bg-[#21262d] w-7 h-4 font-bold shadow-[5px_5px_7px_#050709] hover:shadow-[inset_5px_5px_10px_#050709] md:text-[9px] text-[#9aa1a9];
}

.mintVerified {
    @apply ml-2 flex flex-col justify-center items-center cursor-pointer;
}

.ribbon {
    @apply w-4 h-3 bg-[#F07C00] flex justify-center items-center rounded-b-[2px];
}

.innerRibbon {
    @apply w-[6px] h-2 bg-[#BF4800];
}

.medal {
    @apply mt-[-1px] rounded-full bg-[#EEC600] h-4 w-4 flex justify-center items-center;
}

.headerContainer {
    @apply flex justify-between w-full bg-[#161b22] border-[#373737] px-5 lg:px-6  z-50 fixed mb-5;
}

.headerTitle {
    @apply self-center whitespace-nowrap text-xl font-semibold dark:text-[#1d9bf0] ml-5;
}

.createPost {
    @apply border-b border-[#373737] p-3 flex space-x-3 overflow-y-scroll;
}

.postInput {
    @apply bg-transparent outline-none text-white text-lg placeholder-gray-500 tracking-wide w-full min-h-[50px];
}

.setDeadline {
    @apply text-gray-400 text-sm font-semibold z-50 mr-[-100px] h-5 bg-[#0d1117];
}

.deadline {
    @apply flex space-x-3 pt-2.5 z-[-50];
}

.commentSection {
    @apply bottom-0 w-full max-w-2xl overflow-auto pb-2 mb-[5rem] mt-[2rem];
}

.commentCountdown {
    @apply cursor-pointer fixed top-0 flex items-center justify-center pt-3 w-full z-[99];
}

.commentPost {
    @apply fixed bottom-0 overflow-visible w-full z-[99];
}

.commentContainer {
    @apply relative border-b border-[#30363D] h-[12rem];
}

.commentFields {
    @apply flex flex-col items-center justify-center absolute space-y-[1rem] z-50;
}

.likePercentage {
    @apply flex pl-2 text-white text-3xl italic font-bold z-10 shadow-md;
}

.commentInfo {
    @apply h-4 items-center justify-center mt-8 ml-[1.5rem] absolute;
}

.commentTime {
    @apply pl-2 text-sm sm:text-[12px] text-slate-50;
}

.comment {
    @apply text-white text-[15px] sm:text-base pt-5 pb-3;
}

.commentFooter {
    @apply flex flex-row items-center space-x-1 space-y-1;
}

.barGraph {
    @apply h-full -ml-5 bg-[#ff638480] backdrop-blur-[10px] bg-opacity-20 drop-shadow-lg;
}

.countDownContainer {
    @apply flex flex-col items-center px-2 pb-4;
}

.numberBox {
    @apply relative bg-transparent flex flex-col items-center justify-center rounded-lg text-sm md:text-sm mt-4;
}

.innerNumberBox {
    @apply rounded-t-[4px] rounded-b-[4px] bg-[#21262d] w-8 h-8;
}

.numberTime {
    @apply text-sm absolute text-rose-500 z-10 font-bold  md:text-sm;
}

.flipper {
    @apply absolute w-full h-1/2 top-0 rounded-t-[4px];
}

.rightIndent {
    @apply absolute right-[-3px] top-[14px] rounded-full w-[5px] h-[5px] bg-[#161b22e6];
}

.leftIndent {
    @apply absolute left-[-3px] top-[14px] rounded-full w-[5px] h-[5px] bg-[#161b22e6];
}

.timeLabel {
    @apply text-sm sm:text-[7px] font-bold text-[#6e767d];
}
